.THIS.First {
    height:100%;
    /* padding: 20px; */
    text-align:center;  
    background-color: #19a2f0;
}
.THIS.Second {
    overflow:scroll;
    background-color:white;
}
.THIS.Second1 {
    height:250%;
    background-color:white;
}
.THIS h2{
    margin:20px 15px;
    padding:0;
    font-size:20px;
    color:#19a2f0;
}
.THIS.Third{
    overflow:scroll;
    background-color:white;
    padding:0.5rem;
    float:left;
    width:15%;
}
.THIS .One svg{
    fill: white;
    margin-top: 40%;
    margin-bottom: 50%;
}
.THIS .One :hover {
    fill: #0b1213;
}
.THIS .example-draggable{
    background-color:white;
    font-weight: normal;
  
}
.THIS .example-dropzone{
    background-color: rgb(192, 240, 192);
    width : 94%;
    height : 94%;
    margin : 3%;
    padding: 5%;
}
.THIS .page{
    background-color: rgb(226, 238, 226);
    width : 100%;
    height : 100%;
    border-radius: 10px;
}
.THIS .addpage{
    margin-top: 2%;
    margin-left: 3%;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
  }
.THIS .test1 {  
    height : 10%;
    width : 100%;   
    background-color: cornsilk;
  }