.THIS.formname{
    background-color: aliceblue;
    text-align: center;
    font-size: large;
    height: 5%;
    padding-top: 5px;
    border-radius: 5px;
    width : 70%;
    margin-left: 15%;
}
.THIS .nextbutton {
    margin-left: 48%;
}
.THIS .previousnextbutton {
    margin-left: 45%;
}
.THIS .previoussubmitbutton {
    margin-left: 45%;
}
.THIS.page{
    background-color: rgb(229, 241, 229);
    width : 70%;
    height : auto;
    border-radius: 5px;
    margin-left: 15%;
}
.THIS.button {
    margin-left:40%;
}
.THIS .pageTitle {
    font-size: large;
}
.THIS .pagesubTitle {
    font-size: medium;
}