.THIS.name .slds-form-element__group{
    display:flex;
    width:111%;
 }
.THIS.name .slds-combobox_container{
    width:100%;
}
.THIS.name .slds-form-element__row{
    width:30%;
} 
.THIS.slds-box_xx-small{
    background-color: white;
    border:1px solid #ddd;
    align-items:center;
    flex-direction:row;
    padding:0 30px;
    display:flex;
    justify-content:flex-start;
    height:40px;
    margin:13px;
    border-radius:5px;
    
}
.THIS.slds-box_xx-small:hover{
    background-color:  #f0f0f0;
}
.THIS .slds-textarea{
    height:80px;
}
.THIS.datetime .slds-form-element__control{
    width:250%;
}
.THIS.datetime .slds-combobox{
    width:100%;
    margin-left: 60%;
}