.THIS.iconDiv {
    height:100%;
    text-align:center;
    background-color: #19a2f0;
}
.THIS.fieldDiv {
    height:100%;
    background-color: rgb(240, 241, 241);
    overflow: scroll; 
}
/* .THIS .example-draggable {
  overflow-y: hidden;
}  */
.THIS .One svg{
    fill: white;
    margin-top: 10px;
}
.THIS .One :hover {
    fill: #0b1213;
}
.THIS .fieldname{
    font-size: large;
}
.THIS .formtitle{
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.THIS .editformname :hover{
    background-color: rgb(205, 214, 205);
    border-radius: 5px;
}
.THIS .addpage{
    float:right;
}
.THIS .deletepage{
    float: right;
}
.THIS .page{
    background-color: rgb(226, 238, 226);
    width : 100%;
    height : auto;
    border-radius: 10px;
}
.THIS .pagetitle{
    font-size: large;  
    margin-left: 3%;  
    margin-right: 3%;
}
.THIS .editpagetitle :hover{
    background-color: rgb(205, 214, 205);
    border-radius: 5px;
}
.THIS .editpagesubtitle :hover{
    background-color: rgb(205, 214, 205);
    border-radius: 5px;
}
.THIS .example-dropzone{
    background-color: rgb(192, 240, 192);
    width : 94%;
    height : 94%;
    margin : 3%;
    padding: 5%;
}
.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}
.THIS .nextbutton {
    margin-left: 44%;
}
.THIS .previousnextbutton{
    margin-left: 40%;
}
.THIS .previoussubmitbutton{
    margin-left: 40%;
}