.THIS.formname{
    background-color: aliceblue;
    text-align: center;
    font-size: large;
    height: 5%;
    padding-top: 5px;
    border-radius: 5px;
}
.THIS.objectselection{
    margin-top: 2%;
    background-color: rgb(243, 236, 227);
    padding-top: 5px;
    font-size: large;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}
.THIS.fieldattribute{
    /* width: 10%; */
    display: inline-block;
}
.THIS.objectfield{
    /* width:10%; */
    display: inline-block;
    /* margin-left: 10%; */
}

/* .THIS.allpage{
    background-color: white;
} */

/* .THIS .slds-input{
    width:30%;
} */