.THIS label.slds-checkbox_toggle.slds-grid > *{
     width: 100%;
     margin-top:5px;
     margin-left:0px;
}
.THIS .slds-checkbox_toggle.slds-grid{
     justify-content: flex-end;
}
.THIS label.slds-checkbox_toggle.slds-grid .slds-checkbox_faux_container{
     display:flex;
     justify-content: flex-end;
     margin-top: 5px;
     margin-right: 4px;
     align-items: center;
}

.THIS.textlabel{
     background-color: #19a2f0;
     color:#fff;
     font-size:14px;
     text-align:center;
     margin-bottom:8px;
     margin-top:8px;
 }
 .THIS .slds-slider-label__range{
      display:none;
 }
 .THIS .slds-button{
     height:30px;
     width:100%;
 }
 .THIS.slds-button_destructive{
     width:100%;
     background-color:#fff;
     border-color:1px solid #ee3434;
     color:#ee3434;
 }
 .THIS.slds-button_destructive:hover{
     background-color:#ee3434;
     color:white;
     border-radius:3px;
     font-size:14px;
 }
 .THIS .slds-button:hover{
     background-color:#19a2f0;
     color:white;
    
 }
 .THIS.togglebox{
      margin-top: 0px;
      height:35px;
 }
 .THIS .slds-input{
      background-color: #f0f0f0;
      margin-bottom: 10px;
 }
 .THIS .slds-form-element__label{
      font-weight: 500;
 }
.THIS.Attributevalue{
      margin-bottom: 15px;
}
 .THIS.Attributevalue:hover{
      background-color: #f0f0f0;
    border-radius:3px;
}
 .THIS.togglebox:hover{
      background-color: #f0f0f0;
    border-radius:3px;
 }
.THIS.Item{
    display:flex;
    justify-content: space-between;
}
.THIS.Item .slds-button{
     width:12%;
     height:32px;
}
.THIS.Item .slds-input{
     width:125%;
}
.THIS.Itembutton{
     display:flex;
}

















 /* .THIS .parentMaskClass{
     position: relative;
     width: 100%;
     height: 50px;  
 }
 .THIS .childMask{
      position: absolute !important;
      top:0 !important;
      left:0 !important;
      z-index: 12;
 } 
 .THIS .ss{
     position: absolute !important;
     top:0 !important;
     left:0 !important;
      display: none !important;
      z-index: 20;
 }

 .THIS .childMask:hover ~ .ss{
      display:block !important;
 } 
 .THIS .ss .slds-form-element label{
      display:none !important;
 }
 .THIS .ss:hover ~ .childMask{
      display: none !important;
      opacity: 0;
 } */

/* .THIS .remove{
     content: "\e914";
     font-family: "123CF" !important;
     position:absolute;
     transform:translateY(-50%);
     font-size:20px;
     color:gray;
} */